<h1 class="text-3xl">Create Member</h1>
<div [formGroup]="form" class="flex flex-col gap-3 w-full max-w-md">

  <p-floatlabel variant="in">
    <input [fluid]="true" autocomplete="off" formControlName="firstName" id="firstName" pInputText />
    <label for="firstName">First Name</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <input [fluid]="true" autocomplete="off" formControlName="lastName" id="lastName" pInputText />
    <label for="lastName">Last Name</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <p-date-picker [fluid]="true" formControlName="birthDate" id="birthDate" />
    <label for="birthDate">Birth Date</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <p-date-picker [fluid]="true" formControlName="joinedDate" id="joinedDate" />
    <label for="joinedDate">Joined Date</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <p-select [fluid]="true" [options]="[{label: 'Female', value: 'female'}, {label: 'Male', value: 'male'}]"
      formControlName="gender" inputId="gender" />
    <label for="gender">Gender</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <input [fluid]="true" autocomplete="off" formControlName="nationality" id="nationality" pInputText />
    <label for="nationality">Nationality</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <textarea [fluid]="true" autocomplete="off" formControlName="notes" id="notes" pTextarea></textarea>
    <label for="notes">Notes</label>
  </p-floatlabel>

  <div class="space-y-4">
    @for (email of emails.controls; let i = $index; track i) {
    <div [formGroup]="email" class="flex flex-col gap-3"> <!-- use div instead ng-container -->
      <p-floatlabel variant="in" class="w-full">
        <input pInputText id="email-{{i}}" autocomplete="off" formControlName="email" [fluid]="true" />
        <label for="email-{{i}}">Email</label>
      </p-floatlabel>
      <p-floatlabel variant="in" class="w-full">
        <input pInputText id="description-{{i}}" autocomplete="off" formControlName="description" [fluid]="true" />
        <label for="description-{{i}}">Email Description</label>
      </p-floatlabel>

      <div class="flex justify-end">
        <p-button (click)="removeEmail(i)" severity="danger" size="small" icon="pi pi-trash" label="Delete">
        </p-button>
      </div>
    </div>
    }
    <button class="mt-2" (click)="this.addEmail()" type="button">Add Email</button>
  </div>

  <div class="space-y-4"> 
    @for (address of this.addresses.controls; let i = $index; track i) {
    <div [formGroup]="address" class="flex flex-col gap-3">
      <p-floatlabel variant="in" class="w-full">
        <input pInputText id="street-{{i}}" autocomplete="off" formControlName="street" [fluid]="true" />
        <label for="street-{{i}}">Street</label>
      </p-floatlabel>
      <p-floatlabel variant="in" class="w-full">
        <input pInputText id="city-{{i}}" autocomplete="off" formControlName="city" [fluid]="true" />
        <label for="city-{{i}}">City</label>
      </p-floatlabel>
      <p-floatlabel variant="in" class="w-full">
        <input pInputText id="zip-{{i}}" autocomplete="off" formControlName="zip" [fluid]="true" />
        <label for="zip-{{i}}">Zip Code</label>
      </p-floatlabel>

      <div class="flex justify-end">
        <p-button (click)="removeAdress(i)" severity="danger" size="small" icon="pi pi-trash" label="Delete">
        </p-button>
      </div>
    </div>
    }
    <button class="mt-2" (click)="this.addAddress()" type="button">Add Address</button>
  </div>

  <div class="space-y-4">
    @for (phoneNumber of this.phoneNumbers.controls; let i = $index; track i) {
    <div [formGroup]="phoneNumber" class="flex flex-col gap-3">
      <p-floatlabel variant="in" class="w-full">
        <input pInputText id="phoneNumber-{{i}}" autocomplete="off" formControlName="phoneNumber" [fluid]="true" />
        <label for="phoneNumber-{{i}}">Phone Number</label>
      </p-floatlabel>
      <p-floatlabel variant="in" class="w-full">
        <input pInputText id="description-{{i}}" autocomplete="off" formControlName="description" [fluid]="true" />
        <label for="description-{{i}}">Phone Description</label>
      </p-floatlabel>

      <div class="flex justify-end">
        <p-button (click)="removePhoneNumber(i)" severity="danger" size="small" icon="pi pi-trash" label="Delete">
        </p-button>
      </div>
    </div>
    }
    <button class="mt-2" (click)="this.addPhoneNumber()" type="button">Add Phone Number</button>
  </div>

  <p-button (click)="this.submit()" label="Submit" />
</div>